name: Test

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - ".pre-commit-config.yaml"
      - ".gitignore"
  workflow_dispatch:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build test image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: test
          load: true
          tags: dense-direction:test
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run type check in container
        continue-on-error: true
        run: |
          docker run --rm dense-direction:test mypy --install-types --non-interactive ./src

      - name: Run pytest in container
        run: |
          docker run --rm dense-direction:test
